.item1 { grid-area: intro-ca; }
.item2 { 
    grid-area: form-ca;
    margin-top: -0px;
}

.grid-container2 {
    display: grid;
    grid-template-areas:
    'intro-ca'
    'form-ca'
}
.grid-container2 > div {
    text-align: left;
}

fieldset {
    text-align: center;
    padding: 20px;
    margin: 0px 1500px 20px 20px;
    background-color: #add8e6;
    border-color: #000;
    border-width: medium;
}
fieldset > div {
    margin-bottom: 30px;
}

.dropdown {
    height: auto;
}
.dropbutton {
    padding: 5px;
}
.dropdown-content {
    background-color: #f9f9f9;
}
.dropdown:hover .locationOptions {
    display: grid;
}
.locationOptions {
    display: none;
    position: static;
}
.locationOptions a {
    padding: 7px;
}
.locationOptions a:hover {
    background-color: #88d5ee;
}

#activitiesList {
    display: inline;
    padding: 0px;
    width: auto;
}
#activitiesList #destination input {
    border-style: none;
    font-size:medium;
    text-align: center;
}
#activitiesList #checkboxes input {
    display: inline;
    position: relative;
    right: 5px;
    top: 6px;
    text-align: left;
    height: 25px;
    width: 25px;
}

#inputButtons {
    font-weight: normal;
}
label {
    display: block;
}
label span {
    color: red;
}
input {
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
}
input:valid {
    border: 2px solid green;
}
input:invalid {
    border: 2px solid red;
}
button {
    background: #13b5eb;
    font-size: larger;
    border: 0;
    color: #fff;
    width: 224px;
    padding: 10px;
}
 