/* CSS for Mega Travel */
* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}
   
body {
    margin: 20px auto;
    font-weight: 300;
    background-color: #607D8B;
}

#wrapper,
#headerbox {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #CFD8DC;
    width: 600px;
    max-width: 100%;
    border: 4px solid #5D4037;
    border-radius: 4px;
}
   
a {
    color: #0000ff;
    text-decoration: none;
}
   
a:hover {
    text-decoration: underline;
}
