* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

#header {
    margin: 20px auto;
    background-color: #add8e6;
    width: 600px auto;
    height: 175px;
    border-bottom: 20px solid #d3d3d3;
}

#menu {
    text-align: center;
    font-size: 1.5em;
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    bottom: 0px;
    transition-property: color, bottom;
    transition-duration: 500ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out;
}

a:hover {
    color: #ffa500;
    position: relative;
    bottom: 10px;
}

body {
    padding: 15px;
    font-weight: 300;
    background-color: #fff;
}

h1 {
    font-size: 2em;
    color: #000;
}

div.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

div.gallery {
    padding: 10px;
    border: 2px solid #000;
    background-color: #fff;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out;
}

div.gallery:hover {
    background-color: #000;
}

div.gallery img {
    width: 100%;
    height: 600px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.pricing {
    padding-top: 10px;
    font-size: 1em;
    text-align: left;
    color: #000;
}

.price {
    padding-top: 5px;
    color: gray;
    padding-top: 10px;
}

.pay {
    padding-top: 5px;
    font-weight: bold;
}

.saving {
    padding-top: 7px;
    color: green;
}

#footer {
    margin: 20px auto;
    padding: 15px;
    background-color: #000;
    width: 600px auto;
    height: 110px;
    color: #fff;
}
