header {
    font-size: 20px;
    font-weight: bold;
}

.form-container {  display: grid;
    grid-template-columns: 0.5fr 0.25fr 0.25fr;
    grid-template-rows: 0.3fr;
    gap: 1px 5px;
    background-color: gray;
    grid-auto-flow: row;
}

#deviceList {
    background-color: #fff;
    text-align: right;
    padding-right: 10px;
    line-height: 3;
}

#getStarts {
    background-color: #fff;
    text-align: center;
    line-height: 3;
}

#getEnds {
    background-color: #fff;
    text-align: center;
    line-height: 3;
}

.buttonSim {
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0px 4px 2px;
    float: right;
    cursor: pointer;
    background-color: red;
}
